<%= turbo_frame_tag 'dashboard_ticket_conversations' do %>
  <% if @ticket.conversations.any? %>
    <% @ticket.conversations.each do |conversation| %>
      <% if conversation.support? %>
        <%= render partial: 'spree/tickets/support', locals: { conversation: conversation } %>
      <% else %>
        <%= render partial: 'spree/tickets/user', locals: { conversation: conversation } %>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center no-objects-found m-5">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Conversation)) %>!
    </div>
  <% end %>
<% end %>
