<div class="container">
  <h1>Recent Raised Tickets</h1>  

  <% @tickets.each do |ticket| %>
    <div class="card my-5 w-100">
      <div class="card-body">
        <h3 class="card-title">Title: <%= ticket.title %></h3>
        <h5 class="card-title">Number: <%= ticket.number %></h5>
        <p class="card-text">Description: <%= ticket.description %></p>
        <p class="card-text"><%= link_to 'View', ticket_path(ticket) %></p>
      </div>
    </div>
  <% end %>
</div>
